* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;

  background-color: #f4f6f7;
}

#search-box,
.country-list {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 320px;
}

#search-box {
  padding: 8px;

  font: inherit;
  color: #4d4d4d;

  border-radius: 4px;

  background-color: ffffff;
  box-shadow: 5px 0 40px 0px rgba(0, 0, 0, 0.1);

  border-color: transparent;
  outline: 1px solid #757575;
  outline: transparent;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  z-index: 999;
}

#search-box::placeholder {
  opacity: 0.5;
}

#search-box:hover,
#search-box:focus,
#search-box:active {
  outline: 1px solid #0c3c6444;
  box-shadow: 0 0 20px -2px #0f3c77d3;
}

.country-list {
  padding: 8px;
  margin-bottom: 30px;

  list-style-type: none;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.1);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.country-list:hover,
.country-list:focus {
  box-shadow: 0px 5px 40px -5px rgba(96, 112, 255, 0.39);
}

.country-list-item {
  display: flex;
}

.country-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.country-list-item > img {
  margin-right: 5px;
}

.country-info {
  max-width: 500px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;

  display: block;

  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0 20px -5px rgb(105, 105, 105);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.country-info:hover,
.country-info:focus {
  box-shadow: 0 0 30px -5px rgb(44, 44, 44);
}

.country-info > img {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;

  display: block;
}

.country-info-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: #202020;
}
.country-info-text {
  font-size: 20px;
  line-height: 1.25;
  color: #302f2f;
}

.country-info-text span {
  color: #385791;
}

.country-info-content:not(:last-child) {
  margin-bottom: 8px;
}
